.container {
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    height: 37px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding-left: 19px;
    color: #ffffff;
    font-weight: 500;
    background-color: #373c3f;
    box-sizing: border-box;
    position: relative;
}

.header__link {
    font-family: 'Montserrat', sans-serif;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41px;
    height: 100%;
    padding: 13px 13px;
    box-sizing: border-box;
    background-color: #202529;
    cursor: pointer;
}

.burger-menu .line {
    position: relative;
    transform-origin: 0 1px;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}

.header__nav-bar {
    display: flex;
    justify-content: flex-start;
    height: 161px;
    width: 182px;
    background-color: #fafafa;
    flex-direction: column;
    position: absolute;
    color: #444444;
    font-weight: 400;
    box-shadow: 0.5px 0.866px 3px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    top: 100%;
    right: 0;
    transition: 0.4s;
}

.header__nav-bar_hidden {
    transform: translateY(-150%);
}

.burger-menu_crossed {
    padding: 9px 13px;
}

.burger-menu_crossed .line:nth-child(2) {
    display: none;
}

.burger-menu_crossed .line:first-child {
    transform: rotate(45deg);
    width: 24px;
}

.burger-menu_crossed .line:last-child {
    transform: rotate(-45deg);
    width: 24px;
}

.header__nav-bar a {
    display: inline-flex;
    width: 100%;
    flex: 1 0 30px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 12px;
    text-transform: capitalize;
    transition: 0.4s;
}

.header__nav-bar a:hover {
    background-color: #f3f3f3;
}

.header__nav-bar a:nth-child(2n) {
    flex-basis: 34px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

.header-logo {
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    height: 173px;
    background-image: url("../img/main-banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 15px 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.banner__title {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.banner a {
    display: inline-block;
    color: #a6d6e0;
    font-size: 14px;
    margin-top: 7px;
}

.cards__item {
    display: flex;
    justify-content: space-between;
    height: 75px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}

.cards__item-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    flex-basis: calc(100% - 71px);
}

.pizza-deliv-bg {
    background-image: url("../img/pizza-deliv-bg.png");
}

.ui-ux-bg {
    background-image: url("../img/ui-ux-salad-bg.png");
}

.ui-ux-bg p {
    padding-left: 24px;
}

.desserts-bg {
    background-position: left 15%;
    background-image: url("../img/desserts-bg.png");
}

.item-banner-title {
    font-size: 20px;
}

.cards__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex-basis: 71px;
    background-color: #acd8ad;
    line-height: 100%;
}

.cards__item-link a {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.menu-header {
    padding: 0 10px;
}

.menu-title {
    margin-bottom: 4px;
    font-size: 20px;
    color: #3f4043;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-sub-title {
    font-size: 10px;
    color: #cbccce;
    font-weight: 400;
}

.menu-icon {
    display: none;
}

.meal-container {
    margin-top: 10px;
}

.meal-container-header {
    background-color: #3f4043;
    height: 37px;
    line-height: 37px;
    text-transform: uppercase;
    padding-left: 19px;
    width: 100%;
    font-size: 20px;
    color: #acd8ad;
    font-weight: 400;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.second-header {
    color: #fff;
    background-color: #acd8ad;
    margin-top: 14px;
}

.meal-type {
    padding: 0 16px 6px 16px;
}

.meal-header {
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #3f4043;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.fa-stroopwafel, .fa-wine-glass-alt, .fa-beer, .fa-coffee {
    font-size: 25px;
    color: #acd8ad;
}

.fa-wine-glass-alt {
    padding-right: 6px;
}

.fa-beer {
    padding-right: 5px;
}

.meal-item {
    font-size: 9px;
    color: #3f4043;
    font-weight: 400;
    margin-bottom: 10px;
}

.meal-item-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-logo {
    display: none;
}

.footer {
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    color: #fff;
    background-color: #acd8ad;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.footer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .header {
        height: 74px;
        font-size: 24px;
        padding-left: 38px;
    }

    .burger-menu {
        width: 82px;
        padding: 27px;
    }

    .burger-menu .line {
        height: 4px;
        transform-origin: 5px 2px;
    }

    .burger-menu_crossed .line:first-child {
        width: 34px;
    }

    .burger-menu_crossed .line:last-child {
        width: 34px;
    }

    .banner {
        height: 346px;
        padding: 30px 38px;
    }

    .banner__title {
        font-size: 36px;
        line-height: 38px;
    }

    .banner a {
        font-size: 24px;
        margin-top: 22px;
    }

    .cards__item {
        height: 150px;
    }

    .cards__item-banner {
        flex-basis: calc(100% - 142px);
    }

    .item-banner-title {
        font-size: 36px;
        background-position: center;
    }

    .cards__item-link {
        flex-basis: 142px;
        font-size: 26px;
    }

    .header__nav-bar {
        height: 214px;
        width: 243px;
        font-size: 14px;
    }

    .header__nav-bar a {
        padding-left: 27px;
    }

    .menu-header {
        padding: 0 23px;
    }

    .menu-title {
        font-size: 40px;
        margin-bottom: 9px;
    }

    .menu-sub-title {
        font-size: 20px;
    }

    .meal-container-header {
        font-size: 40px;
        height: 75px;
        line-height: 75px;
        margin-bottom: 38px;
        padding-left: 38px;
    }

    .meal-header {
        font-size: 30px;
        margin-bottom: 36px;
    }

    .meal-name {
        font-size: 27px;
    }

    .meal-cost {
        font-size: 27px;
    }

    .meal-item {
        font-size: 18px;
        margin-bottom: 22px;
    }

    .fa-stroopwafel, .fa-wine-glass-alt, .fa-beer, .fa-coffee {
        font-size: 48px;
    }

    .menu {
        margin-top: 45px;
    }

    .meal-container {
        margin-top: 20px;
    }

    .meal-item-header {
        margin-bottom: 16px;
    }

    .meal-type {
        padding: 0 39px;
        margin-bottom: 45px;
    }

    .footer {
        font-size: 18px;
        margin-top: 72px;
        line-height: 26px;
        height: 97px;
    }
}

@media screen and (min-width: 980px) {
    .header {
        height: 97px;
        padding: 0 30px;
    }

    .header-logo {
        display: block;
        height: 83px;
    }

    .header__link {
        display: none;
    }

    .burger-menu {
        display: none;
    }

    .header__nav-bar_hidden {
        transform: translateY(0);
    }

    .header__nav-bar {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: initial;
        background-color: transparent;
        box-shadow: none;
        font-size: 15px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .header__nav-bar a:nth-child(n) {
        flex: none;
        width: auto;
        margin-right: 33px;
        padding: 0;
        height: initial;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
    }

    .banner {
        padding: 64px 30px;
        height: 530px;
    }

    .banner__title {
        font-size: 54px;
        line-height: 54px;
    }

    .banner a {
        font-size: 34px;
        margin-top: 57px;
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cards__item-link {
        display: none;
    }

    .cards__item {
        height: 327px;
    }

    .cards__item-banner {
        flex: 1 0 calc(100% / 3);
        text-align: center;
    }

    .ui-ux-bg p {
        padding-left: 0;
    }

    .menu {
        margin-top: 50px;
    }

    .menu-content {
        display: flex;
    }

    .second-header {
        margin-top: 0;
    }

    .menu-icon {
        display: block;
        height: 89px;
    }

    .menu-header {
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
    }

    .menu-title {
        font-size: 34px;
    }

    .meal-container-header {
        font-size: 34px;
        padding-left: 18px;
    }

    .meal-type {
        padding: 0 14px 0 19px;
    }

    .meal-header {
        font-size: 26px;
    }

    .fa-stroopwafel, .fa-wine-glass-alt, .fa-beer, .fa-coffee {
        font-size: 42px;
    }

    .meal-header {
        margin-bottom: 51px;
    }

    .meal-name, .meal-cost {
        font-size: 24px;
    }

    .meal-item {
        font-size: 16px;
        margin-bottom: 28px;
    }

    .footer-title {
        flex-direction: row;
    }

    .footer-logo {
        display: block;
        height: 83px;
    }

    .footer {
        justify-content: space-between;
        margin-top: 39px;
        padding: 0 30px;
    }

    @media screen and (min-width: 1200px) {
        .header {
            padding: 0 37px;
        }

        .banner {
            height: 650px;
            padding: 58px 37px;
        }

        .banner__title {
            font-size: 62px;
            line-height: 62px;
        }

        .banner a {
            margin-top: 53px;
            font-size: 38px;
        }

        .cards__item {
            height: 400px;
        }

        .cards__item-banner {
            font-size: 43px;
        }

        .menu {
            margin-top: 77px;
        }

        .menu-title {
            font-size: 40px;
        }

        .menu-header {
            padding: 0 22px;
        }

        .meal-container {
            margin-top: 15px;
        }

        .meal-container-header {
            font-size: 40px;
        }

        .meal-header {
            font-size: 30px;
            margin-bottom: 42px;
        }

        .fa-stroopwafel, .fa-wine-glass-alt, .fa-beer, .fa-coffee {
            font-size: 48px;
        }

        .meal-type {
            padding: 0 25px;
        }

        .meal-item {
            font-size: 18px;
        }

        .meal-name, .meal-cost {
            font-size: 27px;
        }

        .footer {
            margin-top: 83px;
            padding: 0 37px;
        }
    }

}